<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/Blogview.css">
  </head>
  <body>
    <!-- <navbar>


    </navbar> -->

    <div class="container">

        <div class="main_heading">
            <h1><%=blog.title%></h1>
            
        </div>
       
        <div class="mainblog">
            
            <div class="sub_heading">

                <h2><%= blog.title %></h2>
            <p>by <a href="#">Rao kashif Nisar</a></p>
            </div>

            

            <p class="blog_text">
              <span>
                <p style="text-align: justify;"><%= blog.intro_text %></p>
              </span>   

                <div class="img text-center">
                    <img src="http://localhost:4000/<%=blog.imgSrc%>" height="400px" width="80%">
                </div>
              <span>
                <p style="text-align: justify;"><%=blog.description%></p>
              </span>    
              
              </p>
        </div>


    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>